@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

#content {
    margin: 1.25rem auto;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: rgb(25, 25, 121);
    color : white;
    max-width: 100%;
    max-height: 85px;

}
body {
 background-color: rgb(236, 192, 134);
 color : black;
}

footer {
    background-color: rgba(25, 25, 121, 0.664);
    display:grid;
    grid-template-columns: 1fr 1fr ;
    max-width: 100%;
    max-height: 65px;
  }