@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

#content {
    font-family: "Open Sans", sans-serif;
    padding: .5em ;
}

header {
    background-color: rgba(25, 121, 68, 0.664);
    color : white;
    max-width: 100%;
    max-height: 85px;
    text-align: center;
    

}
body {
 background-color: rgb(236, 192, 134);
 color : black;
}


 img{
    max-width: 100%;
    margin-left: 85%;
   }
   nav{
       padding: .5em;
   }

 footer {
    background-color: rgba(25, 121, 68, 0.664);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    max-width: 100%;
    max-height: 65px;
    color: white; 
  }
  .copyright {
      grid-column: 1;
      
  }
  p{
      text-align : center ;
      
  }
  span {
      color: yellow ;
      grid-column: 2 ;
  }