@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
    font-size : 20px ;
    background-color: rgb(236, 192, 134);
    color: black;
}

#content {
    font-family: "Open Sans", sans-serif;
    padding: 1rem;
}

header,
footer {
    border: 3px solid white;
    background-color: rgba(25, 121, 68, 0.664);
    color: white;
    max-width: 100%;
    margin: .5rem ;
    padding: .5rem;
    

}

header img {
    float: right;
    height: auto;
    max-width : 25% ;
    max-height : 30% ;
    box-shadow: 5px 5px 10px black;
    margin : .75rem;
}
h1 {
    text-align: center;
}


nav {
    padding: .5em;
}

#lastUpdate {
    color:rgba(77, 240, 150, 0.664)
}