body{
    margin:.5em;
    padding: .5em;
    max-width: 35rem;
    
}
#home_body{
    background-color: rgba(252, 231, 5, 1);
}
nav ul{
    display: inline-block;
    list-style-type: none;
    
}

a{
    padding: 1em;
    color: white;
    text-shadow: 2px 1px black;
    
}

@media only screen and (min-width: 40.5em) {
    nav ul{
        display: flex;
        flex: 1 1 100%;
        
    }
    

}

img{
    max-width: 20%;
}

table,
th,
tr,
td{
    text-align: center;
    min-width: 40%;
    border: 2px solid black;
    background-color: white ;
}
#background_color{
    background-color: rgba(252, 231, 5, 1);
}
#header_color{
    background-color: rgb(252, 231, 5, .5);
}

#primary_nav_color{
    background-color: rgba(250, 116, 7, 0.842);
}
#footer_nav_color{
    background-color: rgba(252, 231, 5, .5);

}
#home_h1{
    font-size: 40px;
    font-family: 'Lucida Sans', sans-serif;

}
#home_nav{
    border: 5px solid rgba(250, 116, 7, 0.842);
    background-color: rgba(250, 116, 7, 0.842);
    max-width: 35rem;
}
.home_h2{
    font-size: 25px;
    font-family: 'Lucida Sans', sans-serif;
}
.home_p{
    font-size: 18px;
    font-family: "Merriweather", serif;
}
#site_header{
    font-size: 40px;
    font-family: 'Lucida Sans', sans-serif;
}
#primary_nav_style{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
}
#h1_style{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
}
#h2_style{
    font-size: 25px;
    font-family: 'Lucida Sans', sans-serif;
}
#h3_style{
    font-size: 20px;
    font-family: 'Lucida Sans', sans-serif;
}
#p_style{
    font-size: 18px;
    font-family: "Merriweather", serif;
}
#footer_nav_style{
    font-size: 20px;
    font-family: 'Lucida Sans', sans-serif;
}