body{
    margin:.5em;
    padding: .5em;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
@media only screen and (min-width: 40.5em) {
    nav ul{
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
    nav ul li{
        flex: 1 1 100%;
    }

}

img{
    max-width: 10%;
}

table,
th,
tr,
td{
    text-align: center;
    min-width: 40%;
    border: 2px solid black
}
#background_color{
    background-color: rgb(253, 245, 130);
}
#header_color{
    background-color: rgba(252, 231, 5, 0.904);
}
#heading_color{
 background-color: none;
}
#primary_nav_color{
    background-color: rgba(250, 116, 7, 0.842);
}
#footer_nav_color{
    background-color: rgba(252, 231, 5, 0.904);

}
#site_header{
    font-size: 40px;
    font-family: 'Lucida Sans', sans-serif;
}
#primary_nav_style{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
}
#h1_style{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
}
#h2_style{
    font-size: 25px;
    font-family: 'Lucida Sans', sans-serif;
}
#h3_style{
    font-size: 20px;
    font-family: 'Lucida Sans', sans-serif;
}
#p_style{
    font-size: 18px;
    font-family: "Merriweather", serif;
}
#footer_nav_style{
    font-size: 20px;
    font-family: 'Lucida Sans', sans-serif;
}