#background_color{
    background-color: rgb(253, 245, 130);
}
#header_color{
    background-color: rgb(231, 131, 49);
}
#heading_color{
 background-color: none;
}
#primary_nav_color{
    background-color: none;
}
#footer_nav_color{
    background-color: none;

}